<h1>Usuarios De La Lavanderia</h1>
<ul class="thumbnails">
  <li ng-repeat="usuario in usuarios" class="span5 clearfix">
    <div class="thumbnail clearfix">
      <img src="http://placehold.it/320x320" alt="ALT NAME" class="pull-left span2 clearfix" style='margin-right:10px'>
      <div class="caption" class="pull-left">
        <a href="#/ropa/{{usuario.slug}}" class="btn btn-primary icon  pull-right">Mi Ropa</a>
        <h4>
          <a href="#" >{{ usuario.nombre }}</a>
        </h4>
        <small><b>Direccion: </b>{{ usuario.direccion }}</small>
      </div>
    </div>
  </li>
</ul>
<button class="btn" ng-click="openModalAgregarUsuario()">Agregar Usuario</button>
<div modal="modalAgregarUsuario" close="closeModalAgregarUsuario()" options="modalOpts">
  <form name="nuevoUsuarioForm" ng-submit="agregarUsuarioSubmit()">
  <div class="modal-header">
    <h4>Agregar Usuario</h4>
  </div>
  <div class="modal-body">

      <label>Nombre</label>
      <input type="text" name="nombre" ng-pattern="nombreRegex" ng-model="nuevoUsuario.nombre" class="span3" required>
      <span class="alert-error" ng-show="nuevoUsuarioForm.nombre.$error.pattern">Formato Incorrecto.</span>
      <label>Direccion</label>
      <input type="text" ng-model="nuevoUsuario.direccion" class="span3" required>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning cancel" ng-click="closeModalAgregarUsuario()">Cerrar</button>
    <input type="submit" value="Agregar Usuario" class="btn btn-primary">
  </form>
  </div>
</div>